.svn/
_deps/
_research/
_TEST_/
tests/
build/obj/
build/bin/
build/inst*/
build/_inst*/
build/_packages/
build/test_build_script/
build/*.layout
build/logs/
_.sh
sql.txt
TO_DO.txt
version
*.sq3
*.URL
*.7z
*.zip
*.xz
build/test_fstab.cbp
build/test_install_db.cbp
build/test_package_info.cbp
build/winlibs-setup-GUI.cbp
build/winlibs-setup-GUI.depend
build/winlibs-setup.cbp
build/winlibs-setup.depend
